Package                            Version
---------------------------------- --------------------
pandas                             2.2.2
numpy                              1.26.4
sklearn-pandas                     2.2.0
transformers                       4.44.2
torch                              2.4.1+cu121
